[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "==2.0.1"
pywin32 = "*"
pyautogui = "*"
pyinstaller = "*"
pipfile = "*"

[dev-packages]

[requires]
python_version = "3.9"
